<section id="flash-home">
	<div class="container">
		<div class="row">
			<div class="col-12">
                <div class="cont-titulo">
				    <h2 class="h2home">{{ section.settings.titulo }}</h2>
                    <a href="collections/{{ section.settings.collection_selected }}" class="link-mostrar-todo"><span>mostrar todo</span></a>
                </div>
                <div class="cont-pastilla-seleccion">
                    <ul class="radio-switch">
                        <li class="radio-switch__item">
                            <input type="radio" class="radio-switch__input sr-only" id="radio1" name="categoria_flash" value="grupo-cat-1" checked>
                            <label for="radio1" class="radio-switch__label">{{ section.settings.texto_cat1 }}</label>
                        </li>

                        <li class="radio-switch__item">
                            <input type="radio" class="radio-switch__input sr-only" id="radio2" name="categoria_flash" value="grupo-cat-2">
                            <label for="radio2" class="radio-switch__label">{{ section.settings.texto_cat2 }}</label>
                            <div aria-hidden="true" class="radio-switch__marker"></div>
                        </li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
    <div class="cont-cont-flash">                    
        {% for collection in collections %}
            {%- assign collection_selected = collections[section.settings.collection_selected] %}
            {%- assign collection_cat1 = collections[section.settings.collection_cat1] %}
            {%- assign collection_cat2 = collections[section.settings.collection_cat2] %}
        {% endfor %}
        
        {% comment %} categoria 1 {% endcomment %}
        <div class="flash-home-cont grupo-cat-1 visible scrollnegro-h">
            {% for product in collection_selected.products %}
                {% for c in product.collections %}
                    {% if c.handle == section.settings.collection_cat1 %}
                        {%- render 'card-product', card_product: product -%}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        
        {% comment %} categoria 2 {% endcomment %}
        <div class="flash-home-cont grupo-cat-2 scrollnegro-h">
            {% for product in collection_selected.products %}
                {% for c in product.collections %}
                    {% if c.handle == section.settings.collection_cat2 %}
                        {%- render 'card-product', card_product: product -%}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>	
</section>

{% schema %}
{
	"name": "Bloque Flash",
	"settings": [
        {
            "type": "text",
            "id": "titulo",
            "label": "Título del bloque*"
        },
        {
            "type": "collection",
            "id": "collection_selected",
            "label": "Colección del bloque*"
        },
        {
            "type": "text",
            "id": "texto_cat1",
            "label": "Texto de primer categoría*"
        },
        {
            "type": "collection",
            "id": "collection_cat1",
            "label": "Colección primer categoría*"
        },
        {
            "type": "text",
            "id": "texto_cat2",
            "label": "Texto de segunda categoría*"
        },
        {
            "type": "collection",
            "id": "collection_cat2",
            "label": "Colección segunda categoría*"
        }
    ],
	"presets": [
		{
			"name": "Bloque Flash"
		}
	]

}
{% endschema %}