<section id="categorias-home">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="categorias-home-cont">
					<figure class="categoria-destacada-item" style="background-image: url('{{ 'collection-zapatillas.png' | asset_url }}');">
						<a href="#">
							<h3>Zapatillas</h3>
							<span class="cta"></span>
						</a>
					</figure>
					<figure class="categoria-destacada-item" style="background-image: url('{{ 'collection-compresion.png' | asset_url }}');">
						<a href="#">
							<h3>Compresión</h3>
							<span class="cta"></span>
						</a>
					</figure>
					<figure class="categoria-destacada-item" style="background-image: url('{{ 'collection-indumentaria.jpg' | asset_url }}');">
						<a href="#">
							<h3>Indumentaria</h3>
							<span class="cta"></span>
						</a>
					</figure>
				</div>
			</div>
		</div>
	</div>	
</section>

{% schema %}
{
	"name": "Categorías destacadas",
	"settings": [],
	"presets": [
		{
			"name": "Categorías destacadas home"
		}
	]

}
{% endschema %}