<section id="marcas-home">
	<div class="container">
		<div class="row">
			<div class="col-12">
            </div>
        </div>
    </div>
    <div class="full-bleed-scroller">
				<div class="marcas-cont">
					<ul class="scrollnegro-h">
						{% for marca in shop.metaobjects.marcas.values %}
						<li class="marca-item {{ marca.nombre.value | replace: " ", "-" | downcase }}">
							<a href="{{ routes.root_url }}collections/{{ marca.nombre.value | replace: " ", "-" | downcase }}">
								<figure style="background-image: url('{{ marca.imagen | img_url }}');">
								</figure>
							</a>
						</li>
						{% endfor %}
    </div>
    <div class="container container-scrollbar">
		<div class="row">
			<div class="col-12">
				<div class="custom-scroll-track">
					<div class="custom-scroll-thumb"></div>
				</div>
			</div>
		</div>
	</div>
    <div class="container">
</section>

{% schema %}
{
	"name": "Marcas slider",
	"settings": [],
	"presets": [
		{
			"name": "Marcas slider home"
		}
	]

}
{% endschema %}