<section id="signatures-home">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="h2home">Signatures</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="signatures-home-cont">
					{% for atleta in shop.metaobjects.atletas.values limit:5 %}
					<figure class="categoria-destacada-item" style="background-image: url('{{ atleta.foto.value  | image_url }}');">
						<a href="collections/{{ atleta.nombre.value | replace: " ", "-" | downcase }}">
							<h3>{{ atleta.nombre.value }}</h3>
							{% for marca in atleta.marcas_relacionadas limit:1 %}
								<span class="cta"><img src="{{ marca.imagen.value  | image_url }}"></span>
							{% endfor %}
						</a>
					</figure>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>	
</section>

{% schema %}
{
	"name": "Signatures",
	"settings": [],
	"presets": [
		{
			"name": "Signatures home"
		}
	]

}
{% endschema %}