<section id="tipos-jugador">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<h2>[ TIPOS DE JUGADOR ]</h2>

				<ul class="listado-tipos-jugador">
					<li>Bases</li>
					<li>Escoltas</li>
					<li>Aleros</li>
					<li class="selected">Pivots</li>
				</ul>

				<a href="#" class="button">Aplicar filtro</a>
			</div>
			<div class="col-8">
				<figure class="cont-zapa" style="background-image: url('{{ 'tipo-jugador-zapa.png' | asset_url }}');"></figure>
			</div>
		</div>
	</div>	
</section>

{% schema %}
{
	"name": "Tipos de jugador",
	"settings": [],
	"presets": [
		{
			"name": "Tipos de jugador home"
		}
	]

}
{% endschema %}