<section id="shopify-section-template--18638285832444__image_banner" class="video-home shopify-section section">
  <link href="/cdn/shop/t/5/assets/section-image-banner.css?v=37752887067616508671736616265" rel="stylesheet" type="text/css" media="all">
  <style data-shopify="">
    #Banner-template--18638285832444__image_banner::after {
      opacity: 0.4;
    }
  </style>
  <div id="Banner-template--18638285832444__image_banner" class="banner banner--content-align-left banner--content-align-mobile-center banner--large banner--desktop-transparent scroll-trigger animate--fade-in">
    <div class="banner__media media scroll-trigger animate--fade-in">
    <!--       <img src="/cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=3840" alt="" srcset="/cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=375 375w, /cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=550 550w, /cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=750 750w, /cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=1100 1100w, /cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=1500 1500w, /cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=1780 1780w, /cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=2000 2000w, /cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=3000 3000w, /cdn/shop/files/home-video-desktop-poster_e4e41a60-695d-4e18-9c2a-ad2160d4670c.jpg?v=1731379688&amp;width=3840 3840w" width="1920" height="1080.0" sizes="100vw" fetchpriority="high"> -->
    <video id="video-home" playsinline="" autoplay="" loop="" muted="" data-desktop="{{ 'home-video-desktop.mp4' | asset_url }}" data-mobile="{{ 'home-video-mobile.mp4' | asset_url }}" src="{{ 'home-video-desktop.mp4' | asset_url }}">
    </video>
    </div>
    <div class="banner__content banner__content--bottom-left page-width scroll-trigger animate--slide-in">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner__box content-container content-container--full-width-mobile color-scheme-3 gradient">
              <div class="banner__buttons">
                <a href="/collections/all" class="button button--secondary">Visitar tienda</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- break a 678px -->
<script>

</script>

{% schema %}
{
  "name": "Video home",
  "settings": [],
  "presets": [
    {
      "name": "Video home"
    }
  ]

}
{% endschema %}