#categorias-home {
  margin-top: 50px;
  margin-bottom: 50px;
}
#categorias-home .categorias-home-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#categorias-home .categorias-home-cont figure,
#categorias-home .categorias-home-cont .card-wrapper {
  flex-basis: 33.33%;
  display: inline-block;
  aspect-ratio: 0.72/1;
  margin: 0;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: all 200ms;
  position: relative;
  overflow: hidden;
}
#categorias-home .categorias-home-cont figure:hover .cont-img,
#categorias-home .categorias-home-cont .card-wrapper:hover .cont-img {
  transform: scale(1.05, 1.05);
}
#categorias-home .categorias-home-cont figure .cont-img,
#categorias-home .categorias-home-cont .card-wrapper .cont-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: inline-block;
  background-position: center;
  background-size: cover;
  transition: all 300ms;
}
#categorias-home .categorias-home-cont figure:after,
#categorias-home .categorias-home-cont .card-wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, transparent 0%, #1C1C1C 100%);
}
#categorias-home .categorias-home-cont figure a,
#categorias-home .categorias-home-cont .card-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
#categorias-home .categorias-home-cont figure a h3,
#categorias-home .categorias-home-cont .card-wrapper a h3 {
  color: #ffffff;
  position: absolute;
  left: 20px;
  bottom: 13px;
  margin: 0;
  font-family: "PP Neue Montreal";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
#categorias-home .categorias-home-cont figure a span,
#categorias-home .categorias-home-cont .card-wrapper a span {
  width: 47px;
  height: 47px;
  display: inline-block;
  background-image: url("cta-go.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  bottom: 13px;
}

#categorias-home {
  margin-top: 50px;
}
#categorias-home .categorias-home-cont {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
}
#categorias-home .categorias-home-cont figure {
  width: calc(20% - 14px);
  margin-right: 13px;
  overflow: hidden;
}
#categorias-home .categorias-home-cont figure:hover .cont-img, #categorias-home .categorias-home-cont figure:focus .cont-img {
  transform: scale(1.1, 1.1);
}
#categorias-home .categorias-home-cont figure .cont-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all 300ms;
}
#categorias-home .categorias-home-cont figure:last-child {
  margin-right: 23px;
}
#categorias-home .categorias-home-cont figure a h3,
#categorias-home .categorias-home-cont figure .cont-cta h3 {
  font-family: "PP Neue Montreal";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.22px;
  bottom: 18px;
  max-width: calc(100% - 75px);
  word-break: normal;
  display: inline-block;
  white-space: initial;
}
#categorias-home .categorias-home-cont figure a span.cta,
#categorias-home .categorias-home-cont figure .cont-cta span.cta {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#categorias-home .categorias-home-cont figure a span.cta img,
#categorias-home .categorias-home-cont figure .cont-cta span.cta img {
  width: 35px;
}

#categorias-home .categorias-home-cont {
  white-space: initial;
  overflow-x: auto;
  display: flex;
  gap: 23px;
}
#categorias-home .categorias-home-cont figure {
  width: calc(33.33% - 23px);
  margin-right: 0;
  aspect-ratio: 1/1.4;
  border-radius: 10px;
}
#categorias-home .categorias-home-cont figure:after {
  border-radius: 10px;
}
#categorias-home .categorias-home-cont figure:last-child {
  margin-right: 0;
}

#flash-home,
#destacados-home {
  margin-top: 50px;
  margin-bottom: 50px;
}
#flash-home .flash-home-cont,
#flash-home .destacados-home-cont,
#destacados-home .flash-home-cont,
#destacados-home .destacados-home-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#flash-home .flash-home-cont figure,
#flash-home .flash-home-cont .card-wrapper,
#flash-home .destacados-home-cont figure,
#flash-home .destacados-home-cont .card-wrapper,
#destacados-home .flash-home-cont figure,
#destacados-home .flash-home-cont .card-wrapper,
#destacados-home .destacados-home-cont figure,
#destacados-home .destacados-home-cont .card-wrapper {
  flex-basis: 33.33%;
  display: inline-block;
  aspect-ratio: 0.72/1;
  margin: 0;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: all 200ms;
  position: relative;
  overflow: hidden;
}
#flash-home .flash-home-cont figure:hover .cont-img,
#flash-home .flash-home-cont .card-wrapper:hover .cont-img,
#flash-home .destacados-home-cont figure:hover .cont-img,
#flash-home .destacados-home-cont .card-wrapper:hover .cont-img,
#destacados-home .flash-home-cont figure:hover .cont-img,
#destacados-home .flash-home-cont .card-wrapper:hover .cont-img,
#destacados-home .destacados-home-cont figure:hover .cont-img,
#destacados-home .destacados-home-cont .card-wrapper:hover .cont-img {
  transform: scale(1.05, 1.05);
}
#flash-home .flash-home-cont figure .cont-img,
#flash-home .flash-home-cont .card-wrapper .cont-img,
#flash-home .destacados-home-cont figure .cont-img,
#flash-home .destacados-home-cont .card-wrapper .cont-img,
#destacados-home .flash-home-cont figure .cont-img,
#destacados-home .flash-home-cont .card-wrapper .cont-img,
#destacados-home .destacados-home-cont figure .cont-img,
#destacados-home .destacados-home-cont .card-wrapper .cont-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: inline-block;
  background-position: center;
  background-size: cover;
  transition: all 300ms;
}
#flash-home .flash-home-cont figure:after,
#flash-home .flash-home-cont .card-wrapper:after,
#flash-home .destacados-home-cont figure:after,
#flash-home .destacados-home-cont .card-wrapper:after,
#destacados-home .flash-home-cont figure:after,
#destacados-home .flash-home-cont .card-wrapper:after,
#destacados-home .destacados-home-cont figure:after,
#destacados-home .destacados-home-cont .card-wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, transparent 0%, #1C1C1C 100%);
}
#flash-home .flash-home-cont figure a,
#flash-home .flash-home-cont .card-wrapper a,
#flash-home .destacados-home-cont figure a,
#flash-home .destacados-home-cont .card-wrapper a,
#destacados-home .flash-home-cont figure a,
#destacados-home .flash-home-cont .card-wrapper a,
#destacados-home .destacados-home-cont figure a,
#destacados-home .destacados-home-cont .card-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
#flash-home .flash-home-cont figure a h3,
#flash-home .flash-home-cont .card-wrapper a h3,
#flash-home .destacados-home-cont figure a h3,
#flash-home .destacados-home-cont .card-wrapper a h3,
#destacados-home .flash-home-cont figure a h3,
#destacados-home .flash-home-cont .card-wrapper a h3,
#destacados-home .destacados-home-cont figure a h3,
#destacados-home .destacados-home-cont .card-wrapper a h3 {
  color: #ffffff;
  position: absolute;
  left: 20px;
  bottom: 13px;
  margin: 0;
  font-family: "PP Neue Montreal";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
#flash-home .flash-home-cont figure a span,
#flash-home .flash-home-cont .card-wrapper a span,
#flash-home .destacados-home-cont figure a span,
#flash-home .destacados-home-cont .card-wrapper a span,
#destacados-home .flash-home-cont figure a span,
#destacados-home .flash-home-cont .card-wrapper a span,
#destacados-home .destacados-home-cont figure a span,
#destacados-home .destacados-home-cont .card-wrapper a span {
  width: 47px;
  height: 47px;
  display: inline-block;
  background-image: url("cta-go.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  bottom: 13px;
}

#flash-home,
#destacados-home {
  position: relative;
}
#flash-home .cont-titulo,
#destacados-home .cont-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#flash-home .cont-titulo .h2home,
#destacados-home .cont-titulo .h2home {
  margin-bottom: 32px;
}
#flash-home .cont-cont-flash .flash-home-cont,
#flash-home .cont-cont-flash .destacados-home-cont,
#flash-home .cont-cont-destacados .flash-home-cont,
#flash-home .cont-cont-destacados .destacados-home-cont,
#destacados-home .cont-cont-flash .flash-home-cont,
#destacados-home .cont-cont-flash .destacados-home-cont,
#destacados-home .cont-cont-destacados .flash-home-cont,
#destacados-home .cont-cont-destacados .destacados-home-cont {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
  display: inline-block;
  width: 100%;
  display: none;
}
#flash-home .cont-cont-flash .flash-home-cont.visible,
#flash-home .cont-cont-flash .destacados-home-cont.visible,
#flash-home .cont-cont-destacados .flash-home-cont.visible,
#flash-home .cont-cont-destacados .destacados-home-cont.visible,
#destacados-home .cont-cont-flash .flash-home-cont.visible,
#destacados-home .cont-cont-flash .destacados-home-cont.visible,
#destacados-home .cont-cont-destacados .flash-home-cont.visible,
#destacados-home .cont-cont-destacados .destacados-home-cont.visible {
  display: inline-block;
}
#flash-home .cont-cont-flash .flash-home-cont .card-wrapper,
#flash-home .cont-cont-flash .destacados-home-cont .card-wrapper,
#flash-home .cont-cont-destacados .flash-home-cont .card-wrapper,
#flash-home .cont-cont-destacados .destacados-home-cont .card-wrapper,
#destacados-home .cont-cont-flash .flash-home-cont .card-wrapper,
#destacados-home .cont-cont-flash .destacados-home-cont .card-wrapper,
#destacados-home .cont-cont-destacados .flash-home-cont .card-wrapper,
#destacados-home .cont-cont-destacados .destacados-home-cont .card-wrapper {
  width: calc(20% - 12px);
  margin-right: 10px;
  border-radius: 0;
  aspect-ratio: initial;
  overflow: visible;
  white-space: initial;
}
#flash-home .cont-cont-flash .flash-home-cont .card-wrapper a,
#flash-home .cont-cont-flash .destacados-home-cont .card-wrapper a,
#flash-home .cont-cont-destacados .flash-home-cont .card-wrapper a,
#flash-home .cont-cont-destacados .destacados-home-cont .card-wrapper a,
#destacados-home .cont-cont-flash .flash-home-cont .card-wrapper a,
#destacados-home .cont-cont-flash .destacados-home-cont .card-wrapper a,
#destacados-home .cont-cont-destacados .flash-home-cont .card-wrapper a,
#destacados-home .cont-cont-destacados .destacados-home-cont .card-wrapper a {
  position: initial;
}
#flash-home .cont-cont-flash .flash-home-cont .card-wrapper:after,
#flash-home .cont-cont-flash .destacados-home-cont .card-wrapper:after,
#flash-home .cont-cont-destacados .flash-home-cont .card-wrapper:after,
#flash-home .cont-cont-destacados .destacados-home-cont .card-wrapper:after,
#destacados-home .cont-cont-flash .flash-home-cont .card-wrapper:after,
#destacados-home .cont-cont-flash .destacados-home-cont .card-wrapper:after,
#destacados-home .cont-cont-destacados .flash-home-cont .card-wrapper:after,
#destacados-home .cont-cont-destacados .destacados-home-cont .card-wrapper:after {
  display: none;
}
#flash-home .cont-pastilla-seleccion,
#destacados-home .cont-pastilla-seleccion {
  --radio-switch-width: 250px;
  --radio-switch-height: 40px;
  --radio-switch-padding: 2.5px;
  --radio-switch-radius: 50em;
  --radio-switch-animation-duration: 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 26px;
  /* utility classes */
}
#flash-home .cont-pastilla-seleccion .sr-only,
#destacados-home .cont-pastilla-seleccion .sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}
#flash-home .cont-pastilla-seleccion .radio-switch,
#destacados-home .cont-pastilla-seleccion .radio-switch {
  margin: 0;
  position: relative;
  display: inline-block;
  display: inline-flex;
  padding: var(--radio-switch-padding);
  border-radius: calc(var(--radio-switch-radius) * 1.4);
  background-color: #DEDEDE;
}
#flash-home .cont-pastilla-seleccion .radio-switch:focus-within,
#flash-home .cont-pastilla-seleccion .radio-switch:active,
#destacados-home .cont-pastilla-seleccion .radio-switch:focus-within,
#destacados-home .cont-pastilla-seleccion .radio-switch:active {
  box-shadow: 0 0 0 2px hsla(var(--ri5-color-contrast-higher-hsl), 0.15);
}
#flash-home .cont-pastilla-seleccion .radio-switch__item,
#destacados-home .cont-pastilla-seleccion .radio-switch__item {
  position: relative;
  display: inline-block;
  height: calc(var(--radio-switch-height) - 2 * var(--radio-switch-padding));
  width: calc(var(--radio-switch-width) * 0.5 - var(--radio-switch-padding));
}
#flash-home .cont-pastilla-seleccion .radio-switch__label,
#destacados-home .cont-pastilla-seleccion .radio-switch__label {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: var(--radio-switch-radius);
  cursor: pointer;
  color: #1C1C1C;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 15.4px */
  letter-spacing: -0.14px;
  transition: all var(--radio-switch-animation-duration);
  font-family: "PP Neue Montreal";
}
#flash-home .cont-pastilla-seleccion .radio-switch__input:checked ~ .radio-switch__label,
#destacados-home .cont-pastilla-seleccion .radio-switch__input:checked ~ .radio-switch__label {
  color: hsl(var(--ri5-color-white-hsl));
}
#flash-home .cont-pastilla-seleccion .radio-switch__input:focus ~ .radio-switch__label,
#destacados-home .cont-pastilla-seleccion .radio-switch__input:focus ~ .radio-switch__label {
  background-color: #ffffff;
}
#flash-home .cont-pastilla-seleccion .radio-switch__label :not(*):focus-within,
#flash-home .cont-pastilla-seleccion .radio-switch__input:focus ~ .radio-switch__label,
#destacados-home .cont-pastilla-seleccion .radio-switch__label :not(*):focus-within,
#destacados-home .cont-pastilla-seleccion .radio-switch__input:focus ~ .radio-switch__label {
  background-color: transparent;
}
#flash-home .cont-pastilla-seleccion .radio-switch__marker,
#destacados-home .cont-pastilla-seleccion .radio-switch__marker {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;
  border-radius: var(--radio-switch-radius);
  background-color: #ffffff;
  height: calc(var(--radio-switch-height) - 2 * var(--radio-switch-padding));
  width: calc(var(--radio-switch-width) * 0.5 - var(--radio-switch-padding));
  transition: -webkit-transform var(--radio-switch-animation-duration);
  transition: transform var(--radio-switch-animation-duration);
  transition: transform var(--radio-switch-animation-duration), -webkit-transform var(--radio-switch-animation-duration);
}
#flash-home .cont-pastilla-seleccion .radio-switch__input:checked ~ .radio-switch__marker,
#destacados-home .cont-pastilla-seleccion .radio-switch__input:checked ~ .radio-switch__marker {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
#flash-home .cont-pastilla-seleccion .ri5-sr-only,
#destacados-home .cont-pastilla-seleccion .ri5-sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

#signatures-home {
  margin-top: 50px;
  margin-bottom: 50px;
}
#signatures-home .signatures-home-cont {
  padding-top: 10px;
  padding-bottom: 10px;
}
#signatures-home .signatures-home-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#signatures-home .signatures-home-cont figure,
#signatures-home .signatures-home-cont .card-wrapper {
  flex-basis: 33.33%;
  display: inline-block;
  aspect-ratio: 0.72/1;
  margin: 0;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: all 200ms;
  position: relative;
  overflow: hidden;
}
#signatures-home .signatures-home-cont figure:hover .cont-img,
#signatures-home .signatures-home-cont .card-wrapper:hover .cont-img {
  transform: scale(1.05, 1.05);
}
#signatures-home .signatures-home-cont figure .cont-img,
#signatures-home .signatures-home-cont .card-wrapper .cont-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: inline-block;
  background-position: center;
  background-size: cover;
  transition: all 300ms;
}
#signatures-home .signatures-home-cont figure:after,
#signatures-home .signatures-home-cont .card-wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, transparent 0%, #1C1C1C 100%);
}
#signatures-home .signatures-home-cont figure a,
#signatures-home .signatures-home-cont .card-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
#signatures-home .signatures-home-cont figure a h3,
#signatures-home .signatures-home-cont .card-wrapper a h3 {
  color: #ffffff;
  position: absolute;
  left: 20px;
  bottom: 13px;
  margin: 0;
  font-family: "PP Neue Montreal";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
#signatures-home .signatures-home-cont figure a span,
#signatures-home .signatures-home-cont .card-wrapper a span {
  width: 47px;
  height: 47px;
  display: inline-block;
  background-image: url("cta-go.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  bottom: 13px;
}

#signatures-home {
  margin-top: 50px;
}
#signatures-home .signatures-home-cont {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
}
#signatures-home .signatures-home-cont figure {
  width: calc(20% - 14px);
  margin-right: 13px;
  overflow: hidden;
}
#signatures-home .signatures-home-cont figure:hover .cont-img, #signatures-home .signatures-home-cont figure:focus .cont-img {
  transform: scale(1.1, 1.1);
}
#signatures-home .signatures-home-cont figure .cont-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all 300ms;
}
#signatures-home .signatures-home-cont figure:last-child {
  margin-right: 23px;
}
#signatures-home .signatures-home-cont figure a h3,
#signatures-home .signatures-home-cont figure .cont-cta h3 {
  font-family: "PP Neue Montreal";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.22px;
  bottom: 18px;
  max-width: calc(100% - 75px);
  word-break: normal;
  display: inline-block;
  white-space: initial;
}
#signatures-home .signatures-home-cont figure a span.cta,
#signatures-home .signatures-home-cont figure .cont-cta span.cta {
  width: 35px;
  height: 35px;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signatures-home .signatures-home-cont figure a span.cta img,
#signatures-home .signatures-home-cont figure .cont-cta span.cta img {
  width: 35px;
}

#amigos-de-la-casa {
  margin-top: 50px;
  margin-bottom: 50px;
}
#amigos-de-la-casa .categorias-home-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#amigos-de-la-casa .categorias-home-cont figure,
#amigos-de-la-casa .categorias-home-cont .card-wrapper {
  flex-basis: 33.33%;
  display: inline-block;
  aspect-ratio: 0.72/1;
  margin: 0;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: all 200ms;
  position: relative;
  overflow: hidden;
}
#amigos-de-la-casa .categorias-home-cont figure:hover .cont-img,
#amigos-de-la-casa .categorias-home-cont .card-wrapper:hover .cont-img {
  transform: scale(1.05, 1.05);
}
#amigos-de-la-casa .categorias-home-cont figure .cont-img,
#amigos-de-la-casa .categorias-home-cont .card-wrapper .cont-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: inline-block;
  background-position: center;
  background-size: cover;
  transition: all 300ms;
}
#amigos-de-la-casa .categorias-home-cont figure:after,
#amigos-de-la-casa .categorias-home-cont .card-wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, transparent 0%, #1C1C1C 100%);
}
#amigos-de-la-casa .categorias-home-cont figure a,
#amigos-de-la-casa .categorias-home-cont .card-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
#amigos-de-la-casa .categorias-home-cont figure a h3,
#amigos-de-la-casa .categorias-home-cont .card-wrapper a h3 {
  color: #ffffff;
  position: absolute;
  left: 20px;
  bottom: 13px;
  margin: 0;
  font-family: "PP Neue Montreal";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
#amigos-de-la-casa .categorias-home-cont figure a span,
#amigos-de-la-casa .categorias-home-cont .card-wrapper a span {
  width: 47px;
  height: 47px;
  display: inline-block;
  background-image: url("cta-go.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  bottom: 13px;
}

#amigos-de-la-casa h3 {
  color: #ffffff;
  font-family: "PP Neue Montreal";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 26.4px */
  letter-spacing: -0.36px;
}
#amigos-de-la-casa .categorias-home-cont,
#amigos-de-la-casa .signatures-home-cont {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
}
#amigos-de-la-casa .categorias-home-cont figure,
#amigos-de-la-casa .signatures-home-cont figure {
  display: inline-block;
  aspect-ratio: 0.78/1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: calc(33.33% - 19px);
  margin-right: 23px;
  white-space: initial;
  cursor: default;
}
#amigos-de-la-casa .categorias-home-cont figure:last-child,
#amigos-de-la-casa .signatures-home-cont figure:last-child {
  margin-right: 0;
}
#amigos-de-la-casa .categorias-home-cont figure:hover .cont-img, #amigos-de-la-casa .categorias-home-cont figure:focus .cont-img,
#amigos-de-la-casa .signatures-home-cont figure:hover .cont-img,
#amigos-de-la-casa .signatures-home-cont figure:focus .cont-img {
  transform: scale(1.05, 1.05);
}
#amigos-de-la-casa .categorias-home-cont figure .cont-img,
#amigos-de-la-casa .signatures-home-cont figure .cont-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block !important;
  transition: 300ms;
  background-size: cover;
  background-position: center;
  cursor: default;
  border-radius: 10px;
}
#amigos-de-la-casa .categorias-home-cont figure:before,
#amigos-de-la-casa .signatures-home-cont figure:before {
  background: linear-gradient(180deg, transparent 0%, rgba(28, 28, 28, 0.6) 100%);
}
#amigos-de-la-casa .categorias-home-cont figure a,
#amigos-de-la-casa .categorias-home-cont figure .cont-cta,
#amigos-de-la-casa .signatures-home-cont figure a,
#amigos-de-la-casa .signatures-home-cont figure .cont-cta {
  cursor: default;
}
#amigos-de-la-casa .categorias-home-cont figure a .cont-text,
#amigos-de-la-casa .categorias-home-cont figure .cont-cta .cont-text,
#amigos-de-la-casa .signatures-home-cont figure a .cont-text,
#amigos-de-la-casa .signatures-home-cont figure .cont-cta .cont-text {
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 10;
}
#amigos-de-la-casa .categorias-home-cont figure a .cont-text p,
#amigos-de-la-casa .categorias-home-cont figure .cont-cta .cont-text p,
#amigos-de-la-casa .signatures-home-cont figure a .cont-text p,
#amigos-de-la-casa .signatures-home-cont figure .cont-cta .cont-text p {
  color: #ffffff;
  font-family: "PP Neue Montreal";
  font-size: 18.89px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.189px;
  margin-bottom: 0;
  margin-top: 0;
}
#amigos-de-la-casa .categorias-home-cont figure a .cont-text span.autor,
#amigos-de-la-casa .categorias-home-cont figure .cont-cta .cont-text span.autor,
#amigos-de-la-casa .signatures-home-cont figure a .cont-text span.autor,
#amigos-de-la-casa .signatures-home-cont figure .cont-cta .cont-text span.autor {
  color: #ffffff;
  font-family: "PP Neue Montreal";
  font-size: 13.493px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#amigos-de-la-casa .categorias-home-cont figure a .cont-text span,
#amigos-de-la-casa .categorias-home-cont figure .cont-cta .cont-text span,
#amigos-de-la-casa .signatures-home-cont figure a .cont-text span,
#amigos-de-la-casa .signatures-home-cont figure .cont-cta .cont-text span {
  position: initial;
  background-image: none;
}

#ultimos-contenidos {
  margin-top: 50px;
  margin-bottom: 50px;
}
#ultimos-contenidos .categorias-home-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#ultimos-contenidos .categorias-home-cont figure,
#ultimos-contenidos .categorias-home-cont .card-wrapper {
  flex-basis: 33.33%;
  display: inline-block;
  aspect-ratio: 0.72/1;
  margin: 0;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: all 200ms;
  position: relative;
  overflow: hidden;
}
#ultimos-contenidos .categorias-home-cont figure:hover .cont-img,
#ultimos-contenidos .categorias-home-cont .card-wrapper:hover .cont-img {
  transform: scale(1.05, 1.05);
}
#ultimos-contenidos .categorias-home-cont figure .cont-img,
#ultimos-contenidos .categorias-home-cont .card-wrapper .cont-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: inline-block;
  background-position: center;
  background-size: cover;
  transition: all 300ms;
}
#ultimos-contenidos .categorias-home-cont figure:after,
#ultimos-contenidos .categorias-home-cont .card-wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, transparent 0%, #1C1C1C 100%);
}
#ultimos-contenidos .categorias-home-cont figure a,
#ultimos-contenidos .categorias-home-cont .card-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
#ultimos-contenidos .categorias-home-cont figure a h3,
#ultimos-contenidos .categorias-home-cont .card-wrapper a h3 {
  color: #ffffff;
  position: absolute;
  left: 20px;
  bottom: 13px;
  margin: 0;
  font-family: "PP Neue Montreal";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
#ultimos-contenidos .categorias-home-cont figure a span,
#ultimos-contenidos .categorias-home-cont .card-wrapper a span {
  width: 47px;
  height: 47px;
  display: inline-block;
  background-image: url("cta-go.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  bottom: 13px;
}

#ultimos-contenidos h3 {
  font-size: 42px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "PP Neue Montreal";
}
#ultimos-contenidos .categorias-home-cont,
#ultimos-contenidos .signatures-home-cont {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
}
#ultimos-contenidos .categorias-home-cont figure,
#ultimos-contenidos .signatures-home-cont figure {
  flex-basis: 25%;
  display: inline-block;
  aspect-ratio: 9/16;
  position: relative;
  border-radius: 23px;
  overflow: hidden;
  cursor: pointer;
  width: calc(25% - 19px);
  margin-right: 23px;
}
#ultimos-contenidos .categorias-home-cont figure:last-child,
#ultimos-contenidos .signatures-home-cont figure:last-child {
  margin-right: 0;
}
#ultimos-contenidos .categorias-home-cont figure:hover .cont-img, #ultimos-contenidos .categorias-home-cont figure:focus .cont-img,
#ultimos-contenidos .signatures-home-cont figure:hover .cont-img,
#ultimos-contenidos .signatures-home-cont figure:focus .cont-img {
  transform: scale(1.1, 1.1);
}
#ultimos-contenidos .categorias-home-cont figure .cont-img,
#ultimos-contenidos .signatures-home-cont figure .cont-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block !important;
  transition: 300ms;
  background-size: cover;
  background-position: center;
  border-radius: 26px;
}
#ultimos-contenidos .categorias-home-cont figure:before,
#ultimos-contenidos .signatures-home-cont figure:before {
  display: none;
}
#ultimos-contenidos .categorias-home-cont figure .cont-cta,
#ultimos-contenidos .signatures-home-cont figure .cont-cta {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#ultimos-contenidos .categorias-home-cont figure a span,
#ultimos-contenidos .categorias-home-cont figure .cont-cta span,
#ultimos-contenidos .signatures-home-cont figure a span,
#ultimos-contenidos .signatures-home-cont figure .cont-cta span {
  background-image: url("cta-play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  bottom: 25px;
  right: 25px;
  display: inline-block;
  z-index: 10;
  position: absolute;
}/*# sourceMappingURL=custom_home.css.map */