<section id="tipos-jugador">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-4">
				<h2>[ TIPOS DE JUGADOR ]</h2>

				<ul class="listado-tipos-jugador">
					<li data-filter="bases">Bases</li>
					<li data-filter="escoltas">Escoltas</li>
					<li data-filter="aleros">Aleros</li>
					<li data-filter="pivots" class="selected">Pivots</li>
				</ul>

				<a href="collections/pivots" class="button">Aplicar filtro</a>
			</div>
			<div class="col-md-9 col-lg-8">
				<div class="cont-figure">
					<figure class="cont-zapa figure-bases" style="background-image: url('{{ 'tipo-jugador-zapa01.png' | asset_url }}');"></figure>
					<figure class="cont-zapa figure-escoltas" style="background-image: url('{{ 'tipo-jugador-zapa02.png' | asset_url }}');"></figure>
					<figure class="cont-zapa figure-aleros" style="background-image: url('{{ 'tipo-jugador-zapa03.png' | asset_url }}');"></figure>
					<figure class="cont-zapa selected figure-pivots" style="background-image: url('{{ 'tipo-jugador-zapa04.png' | asset_url }}');"></figure>
				</div>
			</div>
		</div>
	</div>	
</section>

{% schema %}
{
	"name": "Tipos de jugador",
	"settings": [],
	"presets": [
		{
			"name": "Tipos de jugador home"
		}
	]

}
{% endschema %}